@model IEnumerable<Time_Clock_Web.Models.IncompleteShift>

@{
    ViewBag.Title = "Who is currently clocked in";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStampIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsHolidayPay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeStampIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsHolidayPay)
        </td>
        <td>
            <a href="@Url.Action("Details", "IncompleteShifts", new {id = item.Id})">
                <span class="glyphicon glyphicon-edit gi-2x"></span>
            </a>
        </td>
    </tr>
}

</table>
